body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  .social-nav-top {
    background: black;
    padding: 0px;
     a {
      padding-top: 0px;
      padding: 5px;
    }
  }
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex-grow: 1;
    .main-navigation {
      .logo {
        font-size: 30px;
      }
    }
    .main-intro {
      // background-image: url('./../images/lady.jpg');
      background-image: url('./../images/main1.jpg');
      background-size: cover;
      height: 85vh;
      background-repeat: no-repeat;
      background-position-y: -150px;
      // background-position-y: -300px;
    }
    .jumbotron {
      background-color: rgba(30, 28, 28, 0.81);
      color: white;
      border: 1px solid white;
    }
    .fa-chevron-right:before, .fa-chevron-left:before {
      color: white;
      font-size: 30px;
    }
    .where {
      background: #06719f;
    }
    .short-descr {
      max-height: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    #map {
      width: 100%;
     }
     .tip {
       background-color: rgba(30, 28, 28, 0.041);
     }
    .bg-1 {
      background-image: url('https://images3.alphacoders.com/786/786607.jpg');
      background-size: cover;
      background-position-y:-100px; 
      height: 100%;
    }
    .bg-2 {
      background-image: url('https://images6.alphacoders.com/608/608242.jpg');
      background-size: cover;
      background-position-y:-100px; 
      height: 100%;
    }
    .bg-3 {
      background-image: url('https://images2.alphacoders.com/608/608051.jpg');
      background-size: cover;
      background-position-y:-100px; 
      height: 100%;
    }
    .bg-trainer {
      background-image: url('../images/kinski-2.jpg');
      // background-position: cover;
      background-repeat: no-repeat;
      height: 60vh;
      background-position-x: center;
    }
    .link-colors-trainer {
      color: #06719f;
    }
  }
  .login-page {
    height: 90vh;
  }
  footer {
    background-color: black;
  }
  .row {
    margin: 0px;
  }
}

@media (max-width: 1000px) {
  .main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    main {
      .main-intro {
        height: auto;
        background-position-y: 0px;
      }
  }
  .navbar-brand {
    margin-right: 0px;
  }
  }
}

@media (max-width: 768px) {
  body {
    .wrapper {
      width: 100%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 576px) {
  body {
    main {
      .main-intro {
        height: 70vh;
        background-position-y: 0px;
      }
  }
  .wrapper {
    width: 100%;
    margin: 0 auto;
  }
}
}
@-moz-document url-prefix() {
  .App {
      height: 100vh;
  }
}